<form>
    <div [formGroup]="form" (ngSubmit)="guardarTarjeta()" class="form-group">

        <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
                <i class="fas fa-user"></i>
            </span>
            <input type="text" class="form-control" formControlName="titular" placeholder="Titular">
        </div>
        <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
                <i class="fas fa-credit-card"></i>
            </span>
            <input type="text" class="form-control" formControlName="numero_tarjeta" placeholder="Numero Tarjeta">
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                    <input type="text" class="form-control" formControlName="fecha_expiracion" placeholder="MM/YY">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-key"></i>
                    </span>
                    <input type="password" class="form-control" formControlName="cvv" placeholder="CVV">
                </div>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success btn-lg">
                <i class="fas fa-database"></i>&nbsp; Aceptar</button>
        </div>
    </div>      
</form>